@model IEnumerable<Pregunta>
@{
    ViewData["Title"] = "ListadoPreguntas";
}
<div>
    <div>
        ToDos list.
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Preguntas" asp-action="Create">Crear nueva pregunta</a>
    </div>
    
</div>

<table>
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display order
            </th>
            <th>
                <div>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Preguntas" asp-action="Edit">Edit</a>
                </div>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Titulo
                </td>
                <td>
                    @item.TextoPregunta
                </td>
                <td>
                    <div role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </div>
                    <div role="group">
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>