@model PreguntaRespuesta
@{
    ViewData["Title"] = "PrimeraPregunta";
}
<div>
    <h1> Esta es la primera pregunta</h1>
</div>

<table>
    <tbody>
        
        <tr>
            <td>
                @Model.pregunta.Titulo
            </td>
        </tr>
        <tr>
            <td>
                @Model.pregunta.TextoPregunta
            </td>
        </tr>



        
    </tbody>
</table>

<form method="post">
	
	<div>
        <input asp-for="textoRespuesta" />

	</div>

    <button type="submit" asp-controller="Pregunta" asp-action="Create">Create</button>
	
</form>